{% extends 'appta/base.html' %}

{% block title %}Home - YouTube Video Personalizer{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to YouTube Video Personalizer</h1>
    <p class="lead">Get personalized YouTube video recommendations for your learning needs</p>
    <hr class="my-4">
    <p>Fill out your preferences to get started</p>
    <a class="btn btn-primary btn-lg" href="/preferences/" role="button">Set Preferences</a>
</div>
{% endblock %}
