{% extends 'appta/base.html' %}
{% load custom_filters %}

{% block title %}Personalized Recommendations - YouTube Video Personalizer{% endblock %}

{% block content %}
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    .video {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
    .video:last-child {
        border-bottom: none;
    }
    .video-thumbnail {
        width: 120px;
        height: auto;
        margin-right: 20px;
    }
    .video-title {
        font-size: 18px;
        font-weight: bold;
    }
    .video-description {
        margin: 10px 0;
    }
    .video-duration {
        color: #666;
    }
    .select-button {
        margin-top: 20px;
        text-align: center;
    }
</style>
<h1>Select a Video</h1>
<form method="post" action="{% url 'select_video' %}">
    {% csrf_token %}
    {% if initial_videos.itertuples %}
        {% for video in initial_videos.itertuples %}
            <div class="video">
                <img src="{{ video.thumbnail }}" alt="Thumbnail" class="video-thumbnail">
                <div>
                    <div class="video-title">{{ video.title }}</div>
                    <div class="video-description">{{ video.description }}</div>
                    <div class="video-duration">Duration:<b> {{ video.duration|seconds_to_hhmmss }}</b></div>
                    <div class="select-button">
                        <input type="radio" name="selected_video_id" value="{{ video.videoId }}"> Select
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p>No recommendations found.</p>
    {% endif %}
    <div class="select-button">
        <button type="submit">Get Recommendations</button>
    </div>
</form>
{% endblock %}